.sidebar {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: lightcoral;
  padding-top: 20px;
  color: white;
}

.sidebar h2 {
  padding-left: 10px;
}

.sidebar p {
  padding-left: 10px;
}

@media (min-width: 1500px) {
  .sidebar {
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}